/* general */

.homeHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;

  flex-wrap: wrap;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 1.2rem;
}
.box > p {
  font-size: large;
  margin-bottom: 1.4rem;
}
.box > h3 {
  font-size: x-large;
  margin-top: 1.35rem;
}
/* general */

/* intro */

h1 > span {
  color: var(--color-accent);
  font-weight: bolder;
}

.img-circle {
  display: inline-block;
  border-radius: 50%; /* perfect circle */
  overflow: hidden; /* Hide overflowing content */

  background-color: var(--color-secondary);

  height: 12rem;
  width: 12rem;
}
.img-circle.dark {
  background-color: var(--color-secondary-dark);
}

.img-circle img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}
.arrow {
  display: flex;
  justify-content: flex-end;
  font-size: 1.25rem;
  font-style: italic;
}
.arrow > svg {
  cursor: pointer;
}
.arrow a {
  text-decoration: none;
  margin-left: 0.35rem; /* Add some space between the text and icon */
  color: var(--color-secondary);
  padding-top: 0.05rem;
  transform:
    0.2s ease-in-out,
    color 0.2s ease-in-out;
}
.arrow a:hover {
  color: var(--color-hover);
  transform: scale(1.2);
}
.arrow a:not(.active) {
  text-decoration: none;
}

.introHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* intro */

/* github */
.github > svg {
  width: 10rem;
  height: 10rem;
  color: var(--color-secondary);
  transition:
    transform 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.github.dark > svg {
  color: var(--color-secondary-dark);
}

.github > svg:hover {
  color: #111213;
  transform: scale(1.2);
}

a.github {
  color: inherit !important;
}
/* github */
/* linkedin */
.linkedin > svg {
  width: 10rem;
  height: 10rem;
  color: var(--color-secondary);
  transition:
    transform 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

.linkedin > svg:hover {
  color: #0a66c2;
  transform: scale(1.2);
}
a.linkedin {
  color: inherit !important;
}
/* linkedin */

/* skills */
.skills {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--color-secondary);
  gap: 0.3rem;
}
.skills.dark {
  color: var(--color-secondary-dark);
  background-color: transparent;
}
.skills > svg {
  width: 4rem;
  height: 4rem;
  padding: 0.2rem 1rem 0.6rem;
  transition:
    transform 0.2s ease-in-out,
    color 0.2s ease-in-out;
  border: none;
  box-shadow: none;
  outline: none;
}

/* Hover effect for desktop */
.skills > svg:hover {
  transform: scale(1.3);
}

/* Active effect for mobile */
.skills > svg.active {
  transform: scale(1.3);
}

/* Individual colors */
.js:hover {
  color: #f0db4f;
}
.html:hover {
  color: #e34c26;
}
.css:hover {
  color: #2965f1;
}
.exp:hover {
  color: #5a6369;
}
.react:hover {
  color: #61dafb;
}
.node:hover {
  color: #339933;
}
.sql:hover {
  color: #00758f;
}
.git:hover {
  color: #f1502f;
}
.swift:hover {
  color: #f05138;
}
.ps:hover {
  color: #001e36;
}

/* quote */
.quote-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.refresh {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  padding: 0;
}

.refresh {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  padding: 0;
}

/* Hover effect for desktop */
.refresh:hover {
  background-color: var(--color-hover);
  color: black;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  box-shadow: var(--shadow-button);
}

/* Hover effect for mobile */
.refresh-mobile:active {
  background-color: var(--color-hover);
  color: black;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
  box-shadow: var(--shadow-button);
}

.quote {
  line-height: 1.5rem;
  font-weight: 700;
}
blockquote > span {
  font-style: italic;
  font-size: larger;
}
cite {
  display: flex;
  justify-content: flex-end;
  font-size: medium;
  font-weight: 400;
}
.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: var(--color-primary);
  animation: progressBar 17s linear infinite;
}

@keyframes progressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* quote */

/* Project Section */
/* Title styling */
.title {
  text-align: center;
  font-size: 1.9rem;
  cursor: default;
  color: var(--color-dark); /* Ensure title color adapts to theme */
}

/* Swiper Styling */
.swiper {
  padding: 0; /* Add padding around Swiper */
  overflow: hidden; /* Hide overflow for smooth sliding */
}

/* Navigation buttons (next/prev) */
.swiper-button-prev,
.swiper-button-next {
  color: var(--color-primary);
  transition: transform 0.3s ease;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: scale(1.2); /* Slight zoom effect on hover */
}

/* Individual Project Styling */
.project {
  scroll-snap-align: start;
  border: 1px solid; /* Accent border for better contrast */
  border-radius: 8px;

  min-width: 280px; /* Set width for each project item */
  cursor: pointer;
  transition:
    transform 0.3s,
    background-color 0.3s,
    border-color 0.3s; /* Ensure smooth transitions */
  background-color: var(--color-light); /* Light background for project */
  color: var(--color-dark); /* Text color adapts to theme */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project:hover {
  transform: scale(1.03);
  background-color: var(--color-hover);
  border-color: var(--color-primary); /* Hover border color */
}

.project h3 {
  font-size: 18px;
  margin-top: 10px;
  color: var(--color-dark); /* Ensure the title color adapts to theme */
}

/* Project Image */
.project-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 15px;
}

/* Expanded Content (Show on Click or Hover) */
.expanded-content {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid; /* Use accent for border */
  border-radius: 8px;
  background-color: var(--color-light);
}

.project-description {
  opacity: 1;
}

/* Button Styling within Project Content */
.project-content button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: var(--color-primary); /* Primary button color */
  color: var(--color-light); /* Button text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background 0.3s ease,
    transform 0.3s ease;
}

.project-content button:hover {
  background-color: var(--color-hover); /* Button hover state */
}

/* Ensure button maintains accessibility in dark mode */
.dark-mode .project-content button {
  background-color: var(--color-primary);
  color: var(--color-light);
}

.dark-mode .project-content button:hover {
  background-color: var(--color-hover);
  transform: translateY(-2px); /* Hover button effect */
}

/* Dark theme support for project */
.dark-mode .project {
  background-color: var(--color-dark);
  color: var(--color-light);
  border-color: var(--color-primary);
}

.dark-mode .project:hover {
  background-color: var(--color-dark-hover);
  border-color: var(--color-secondary);
}

.dark-mode .expanded-content {
  background-color: var(--color-dark);
  color: var(--color-light);
}

/* Ensure smooth transitions when switching between dark and light themes */
.dark-mode .project h3 {
  color: var(--color-light);
}

@media (min-width: 702px) {
  .homeHeader {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .homeHeader > .box-container {
    width: 35%;
    margin: 0.5rem;
  }
  .homeMain {
    margin: -0.5rem;
  }
  .box {
    padding-top: 1.2rem;
    text-align: center;
  }
  .box > p {
    margin-bottom: 1.4rem;
  }
  .skills {
    gap: 0.5rem;
  }
  .title {
    font-size: 2.3rem;
  }

  .project-container {
    gap: 1;
  }
  .project-img {
    width: 100%;
    max-width: 450px; /* Adjust max width as needed for desktop */
    height: auto;
    border-radius: 8px;
    object-fit: cover;
    display: block;
    margin: 0 auto; /* Center image horizontally */
  }
}

@media (min-width: 950px) {
  .homeBody {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }
}
