.box-container {
  border: 0.2rem solid transparent;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: rgba(98, 133, 110, 0.5);
}
h1 > span {
  color: #04aa6d;
  font-weight: bolder;
}
.icons {
  display: flex;
  justify-content: flex-end;
  font-size: 1.25rem;
  font-style: italic;
}
.icons > svg {
  cursor: pointer;
}
.icons a {
  text-decoration: none;
  margin-left: 0.35rem; /* Add some space between the text and icon */
  color: #04aa6d;
  padding-top: 0.1rem;
}
.icons a:hover {
  color: black;
}
.icons a:not(.active) {
  text-decoration: none;
}

.img-circle {
  display: inline-block;
  border-radius: 50%; /* Use percentage for perfect circle */
  overflow: hidden; /* Hide overflowing content */
  /* background-color: #04aa6d; */
  background-color: #029a63;

  height: 12rem;
  width: 12rem;
}
.img-circle.dark {
  /* background-color: aqua; */
  background-color: #c8bbbb;
}

.img-circle img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintain aspect ratio and cover the container */
}

.introHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reactLogo {
  width: 12rem !important;
}
.homeHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.8rem;
}
.github > svg {
  width: 10rem;
  height: 10rem;
}
